body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-3 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form {
  border: 1px solid whitesmoke;
  box-shadow: #555 1px 5px 5px 5px;
  padding: 15px;
  border-radius: 15px;
  width: 500px;
  h1 {
    padding: 5px;
    padding-left: 32px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: orangered;
  }

  .btn {
    padding: 10px;
    margin-left: 57px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  hr {
    color: brown;
  }
}
